//Using the use method
$color1: #fff;
$color2: #111;
$color3: #27045b;
$color4: #6807f9;
$color5: #9852f9;
$color6: #ffd739;
$color7: #ffffff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.side-cont {
  border: 1px solid black;
  height: 100%;
  background-color: $color3;

  ul {
    display: flex;
    flex-direction: column;

    align-items: center;
    height: 100%;
    width: 100%;
  }
  .title {
    text-transform: uppercase;
    color: $color1;
  }

  .library {
    color: $color1;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: $color7;
  }
}
